/.DS_Store
/.vscode
/CucumberFramework
/ProtractorDemo
/ProtractorTestReport.html
/ToDoFirstTry
/ToDoUsingCucumber
/allure-results
/screenshots
/target
/xmlresults.xml
/ToDoAutomate/target/screenshots
/ToDoAutomate/screenshots
/ToDoAutomate/allure-results
